@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.line-up {
    height: 8vh;
    width: 1920vw;
    background-color: #3750B3;
    position: fixed;
    top: 0;
    left: 0;


}

.cabeçalho {
  width: 100vw;
  height: 71px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.imagem {

    background-image: url(../layout1/assets/imgs/Rectangle\ 3.png);
    background-size: cover;
    
    width: 70vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    

}

.right {
    margin-left: 1200px;
    display: flex;
    font-family: Inter;
    position: fixed;
    
    
}

.left  {

    margin-right: 100px;
    display: flex;
    font-family: Inter;
   
}

.meu-titulo {
    font-size: 64px;
    

}

.minha-descriçao {
    font-size: 32px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
 
}